.App {
  margin: 0 auto;
  max-width: 100rem;
}

.search__panel {
  margin-bottom: 3rem;
  padding: 2.5rem;
  background-color: #3d5a80;
  border-radius: 0.4rem;
  box-shadow: 1.5rem 1.5rem 3rem rgba(0, 0, 0, 0.15);
  color: #fff;
}
