.app-add-form {
  margin-top: 30px;
  padding: 25px;
  background-color: #3d5a80;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  color: #fff;
}

.add-form {
  margin-top: 20px;
}

.add-form input {
  width: 350px;
  margin-right: 20px;
}

.form-control {
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  width: 35rem;
  margin-right: 2rem;
}

.btn {
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
}
